<div class="chat-container" [class.active-member-list]="isOpenedMemberList">
  <app-tab
    [tabs]="conversationService.tabs"
    [currentTab]="conversationService.currentTab"
    (currentTabChanged)="handleTabChanged($event)"
  ></app-tab>
  <div
    class="message-container"
    #messageContainer
    (scroll)="handleScroll($event)"
  >
    <div class="loading" *ngIf="conversationService.loading"></div>
    <app-chat-message
      *ngFor="
        let userMess of conversationService.getByKey(
          conversationService.currentTab
        )
      "
      [tabSelected]="conversationService.currentTab"
      [tabPersonal]="conversationService.tabPersonal"
      [userCode]="userCode"
      [userMess]="userMess"
    ></app-chat-message>
    <div class="typing" *ngIf="conversationService.typing">
      <span></span><span></span><span></span>
    </div>
  </div>
  <app-chatbar
    [tabSelected]="conversationService.currentTab"
    [tabPersonal]="conversationService.tabPersonal"
  ></app-chatbar>
  <app-member-list (hasData)="handleNotiFromMemberList($event)" (closeMemberList)="handleCloseMemberList($event)"></app-member-list>
  <div
    *ngIf="chatService.uploadError != null"
    class="noti-error"
    [class]="chatService.uploadError.type.name"
    [class.active]="chatService.uploadError.content != ''"
    (click)="chatService.uploadError = null"
  >
    <fa-icon [icon]="chatService.uploadError.type.icon" [size]="'1x'"></fa-icon>
    <p>{{ chatService.uploadError.content }}</p>
  </div>
</div>
