@use "src/variable" as *;
.chat-container {
  padding: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 80vw;
  height: 80vh;
  background: linear-gradient(60deg, rgba($color-5, 0.6), rgba($color-2, 0.6));

  border: 2px solid rgba($color-1, 1);
  border-radius: 10px;
  display: grid;
  grid-template-columns: 175px 1fr;
  grid-template-rows: 1fr 60px;
  gap: 5px;
  & app-tab {
    grid-area: 1 / 1 / span 2 / span 1;
    border-radius: 10px 0 0 10px;
    border: 2px solid rgba($color-1, 1);
    overflow: hidden;
  }
  & .message-container {
    overflow: auto;
    padding: 10px;
    border-radius: 0 10px 0 0;
    border: 2px solid rgba($color-1, 1);
    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-thumb {
      background: rgba($color-1, 1);
      border-radius: 10px 30px 30px 10px;
    }
  }
  & app-chatbar {
    grid-area: 2 / 2 / span 1 / span 1;
    border: 2px solid rgba($color-1, 1);
    border-radius: 0 0 10px 0;
  }
}
