<div class="chat-container">
  <app-tab
    [tabs]="conversationService.tabs"
    [currentTab]="conversationService.currentTab"
    (currentTabChanged)="handleTabChanged($event)"
  ></app-tab>
  <div class="message-container" #messageContainer>
    <app-chat-message
      *ngFor="
        let userMess of conversationService.getByKey(
          conversationService.currentTab
        )
      "
      [userCode]="userCode"
      [userMess]="userMess"
    ></app-chat-message>
  </div>
  <app-chatbar [tabSelected]="conversationService.currentTab"></app-chatbar>
</div>
