$color-1: #06113c;
$color-2: #ff8c32;
$color-3: #dddddd;
$color-4: #eeeeee;
$color-5: #5a92af;
$color-6: #86c1d4;
$color-7: #9cd9de;
$color-8: #d9f9f4;
$color-black: #000;
$color-white: #fff;
$font-size: 62.5%;
