<div class="noti-item">
  <!-- <div class="icon">
    <fa-icon [icon]="noti.type.icon" [size]="'1x'"></fa-icon>
  </div> -->
  <div class="content">
    <div class="text">
      {{noti.content}}
    </div>
    <div class="action" *ngIf="noti.status == 'INVITE'">
      <p class="time">{{noti.time | date : 'shortTime'}}</p>
      <div class="action-item" (click)="accept(noti.id || 0, noti.roomCode)">
        <div class="icon accept">
          <fa-icon [icon]="acceptIcon" [size]="'1x'"></fa-icon>
        </div>
      </div>
      <div class="action-item" (click)="deny(noti.id || 0, noti.roomCode)">
        <div class="icon deny">
          <fa-icon [icon]="denyIcon" [size]="'1x'"></fa-icon>
        </div>
      </div>
    </div>
    <div
      class="result-action"
      *ngIf="noti.status == 'ACCEPT' || noti.status == 'DENY'"
    >
      <p>{{noti.time | date:'shortTime'}}</p>
      <p
        [class.accept]="noti.status == 'ACCEPT'"
        [class.deny]="noti.status == 'DENY'"
      >
        {{noti.status =='ACCEPT'?'Accepted':'Denied'}}
      </p>
    </div>
  </div>
</div>
