<div class="container">
  <app-chat
    *ngIf="authService.authenticated$ | async; else loginTemp"
  ></app-chat>
  <button
    type="button"
    class="logout"
    *ngIf="authService.authenticated$ | async"
    (click)="authService.logout()"
  >
    Logout
  </button>
  <div class="notification" *ngIf="authService.authenticated$ | async">
    <div
      class="notification-icon"
      (click)="notificationOpen = !notificationOpen"
    >
      <fa-icon [icon]="notificationIcon" [size]="'1x'"></fa-icon>
    </div>
    <div class="notification-list" [class.active]="notificationOpen">
      <app-noti-item
        *ngFor="let notiItem of notificationService.notiList"
        [noti]="notiItem"
      ></app-noti-item>
    </div>
  </div>
</div>

<ng-template #loginTemp>
  <div class="login">
    <div class="title">
      <h1>Welcome To Coconect</h1>
    </div>
    <form
      class="form-login"
      [formGroup]="loginForm"
      (submit)="login()"
      *ngIf="isLogin; else registerFormTemp"
    >
      <input
        type="text"
        formControlName="username"
        placeholder="Username . . ."
        autofocus
      />
      <input
        type="password"
        formControlName="password"
        placeholder="Password . . ."
      />
      <button type="submit">Login</button>
    </form>
    <button type="button" class="button-switch" (click)="isLogin = !isLogin">
      {{isLogin ? "Register":"Login"}}
    </button>
    <div
      *ngIf="notiLog != null"
      class="noti-login"
      [class]="notiLog.type.name"
      [class.active]="notiLog.content != ''"
      (click)="resetNotiLog()"
    >
      <fa-icon [icon]="notiLog.type.icon" [size]="'1x'"></fa-icon>
      <p>{{notiLog.content}}</p>
    </div>
  </div>
</ng-template>

<ng-template #registerFormTemp>
  <form class="form-register" [formGroup]="registerForm" (submit)="register()">
    <input
      type="text"
      formControlName="username"
      placeholder="Username . . ."
    />
    <input
      type="password"
      formControlName="password"
      placeholder="Password . . ."
    />
    <input
      type="password"
      formControlName="rePassword"
      placeholder="Re-Password . . ."
    />
    <button type="submit">Register</button>
  </form>
</ng-template>
