<div class="container">
  <app-chat
    *ngIf="chatService.userData.connected; else registerUser"
  ></app-chat>
</div>

<ng-template #registerUser>
  <div class="register">
    <div class="title">
      <h1>Welcome To Coconect</h1>
    </div>
    <form class="form" [formGroup]="form" (submit)="submit()">
      <input
        type="text"
        formControlName="username"
        placeholder="Your name . . ."
      />
      <button type="submit">Enter</button>
    </form>
  </div>
</ng-template>
