<div class="tab-container">
  <div class="tab-item">
    <p>Public room</p>
  </div>
  <div class="tab-item">
    <p>Public room</p>
  </div>
  <div class="tab-item">
    <p>Public room</p>
  </div>
  <div class="tab-item">
    <p>Public room</p>
  </div>
  <div class="tab-item">
    <p>Public room</p>
  </div>
  <div class="tab-item">
    <p>Public room</p>
  </div>
  <div class="tab-item">
    <p>Public room</p>
  </div>
  <div class="tab-item">
    <p>Public room</p>
  </div>
  <div class="tab-item">
    <p>Public room</p>
  </div>
  <div class="tab-item">
    <p>Public room</p>
  </div>
  <div class="tab-item">
    <p>Public room</p>
  </div>
  <div class="tab-item">
    <p>Public room</p>
  </div>
</div>
