<div
  class="chat-message"
  [class.me]="userMess.identityCode == userCode"
  [attr.posted-time]="userMess.postedTime | date : 'shortTime'"
  *ngIf="userMess.identityCode!=tabSelected && !tabPersonal;else messToRoom;"
>
  <div *ngIf="userMess" class="username"  >
    <p (click)="isOpenAction = !isOpenAction">{{ userMess.username }}</p>
    <div class="actions" [class.active]="isOpenAction">
      <p class="open-private" (click)="openNewChat()" >Open private chat</p>
      <div class="line"></div>
      <p class="use-with-command" (click)="addUserInfoToMessageInput()">Use with command</p>
    </div>
  </div>
  <div *ngIf="userMess" class="content">
    <div
      class="text"
      *ngFor="let message of userMess.messages"
      [innerHtml]="message.content | safeHtml"
    ></div>
  </div>
</div>


<ng-template #messToRoom>
  <div class="mess-to-room" *ngFor="let message of userMess.messages">
    <p>{{message.content}}</p>
  </div>
</ng-template>