@use "src/variable" as *;
.chat-message {
  position: relative;
  margin-bottom: 15px;
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
  background: rgba($color-4, 0.5);
  border-radius: 5px;
  width: fit-content;
  max-width: 75%;
  &:hover::after {
    opacity: 1;
  }
  &::after {
    width: max-content;
    position: absolute;
    content: attr(posted-time);
    bottom: 0;
    right: 0;
    translate: 120% 0;
    font-size: 0.875rem;
    letter-spacing: 2px;
    opacity: 0;
    transition: all cubic-bezier(0.6, -0.28, 0.735, 0.045) 0.2s;
  }
  & * {
    font-size: 1.2rem;
  }
  & .username {
    margin: auto 0 0 0;
    padding: 2.5px 5px;
    background: rgba($color-7, 1);
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
  }

  & .content {
    height: 100%;
    text-align: left;
    & .text {
      padding: 2.5px 5px;
      background: rgba($color-8, 0.5);
      border-radius: 5px;
      display: flex;
      align-items: center;
      gap: 3px;
      &:not(:last-of-type) {
        margin-bottom: 2.5px;
      }
      & a.message-link {
        font-size: 1.2rem;
        color: $color-black;
      }
      & .message-color {
        position: relative;
        width: 20px;
        aspect-ratio: 1;
        border-radius: 5px;
        cursor: pointer;
        &[m-title]::after {
          content: attr(m-title);
          position: absolute;
          top: 100%;
          left: 50%;
          padding: 5px;
          white-space: nowrap;
          font-size: 0.75rem;
          border-radius: 5px;
          background-color: $color-4;
          box-shadow: 0 0 1px $color-5;
          translate: -50% -50%;
          z-index: -1;
          opacity: 0;
          transition: all cubic-bezier(0.47, 0, 0.745, 0.715) 0.3s;
        }
        &[m-title]:hover::after {
          translate: -50% 30%;
          z-index: 99;
          opacity: 1;
        }
        &::before {
          position: absolute;
          inset: 0 0 0 0;
          content: "";
          border-radius: 5px;
          background: $color-white;
          z-index: -1;
        }
      }
      & .m-image {
        width: 100%;
        // aspect-ratio: 4/3;
        min-height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        // transition: all cubic-bezier(0.47, 0, 0.745, 0.715) 0.1s;
        & img {
          max-width: 200px;
          border-radius: 5px;
          object-fit: contain;
        }
        &.active {
          position: fixed;
          top: 50%;
          left: 50%;
          translate: -50% -50%;
          // scale: 3.5;
          z-index: 999;
          & img {
            max-width: none;
            width: 60vw;
          }
          &::after {
            position: absolute;
            content: "";
            inset: -500% 0 -500% 0;
            background: rgba($color-black, 0.75);
            z-index: -1;
          }
        }
      }
      & .m-video {
        position: relative;
        width: 100%;
        // aspect-ratio: 4/3;
        min-height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        // transition: all cubic-bezier(0.47, 0, 0.745, 0.715) 0.1s;
        &::before {
          position: absolute;
          content: "";
          top: 50%;
          left: 50%;
          translate: -50% -50%;
          width: 0;
          border-top: 20px solid transparent;
          border-bottom: 20px solid transparent;
          border-left: 30px solid rgba($color-2, 0.75);
        }
        & video {
          max-width: 200px;
          border-radius: 5px;
          object-fit: contain;
          &::-webkit-media-controls {
            display: none;
          }
        }
        &.active {
          position: fixed;
          top: 50%;
          left: 50%;
          translate: -50% -50%;
          // scale: 3.5;
          z-index: 999;
          & video {
            max-width: none;
            width: 80vw;
            &::-webkit-media-controls {
              display: flex;
            }
          }
          &::before {
            display: none;
          }
          &::after {
            position: absolute;
            content: "";
            inset: -500%;
            background: rgba($color-black, 0.75);
            z-index: -1;
          }
        }
      }
    }
  }
  &.me {
    margin-left: auto;
    flex-flow: row-reverse;
    &::after {
      bottom: 0;
      left: 0;
      translate: -120% 0;
    }
    & .username {
      display: none;
    }
    & .content {
      text-align: right;
      & .text {
        justify-content: end;
      }
    }
  }
}
