<div
  class="chat-message"
  [class.me]="userMess.identityCode == userCode"
  [attr.posted-time]="userMess.postedTime | date : 'shortTime'"
  *ngIf="userMess.identityCode!=tabSelected && !tabPersonal;else messToRoom;"
>
  <div *ngIf="userMess" class="username" (click)="addUserInfoToMessageInput()" (dblclick)="openNewChat()">
    <p>{{ userMess.username }}</p>
  </div>
  <div *ngIf="userMess" class="content">
    <div
      class="text"
      *ngFor="let message of userMess.messages"
      [innerHtml]="message.content | safeHtml"
    ></div>
  </div>
</div>


<ng-template #messToRoom>
  <div class="mess-to-room" *ngFor="let message of userMess.messages">
    <p>{{message.content}}</p>
  </div>
</ng-template>